.input{
    width: 60%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: black;
}
button{
    background-color: #303030;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
    font-style: bold;
    border-color: #303030;
}
button:hover{
    background-color: #1f1d1d;
}